#main {
  width: 826px;
  padding: 2%;
  /* margin: 2%; */
  margin-left: 0%;
  /* left: 10%; */
  /* transform: translateX(25%); */
}
#main h2 {
  text-align: center;
  background-color: black;
  color: rgb(20, 200, 20);
  padding: 2%;
  font-size: 200%;
}

#canvas {
  padding: 10px;
  border-color: black;
  border: 1%;
  background-color: black;
  border-style: solid;
}

#main hr {
  padding: 0.5%;
  background-color: rgb(20, 200, 20);
  border-color: rgb(20, 200, 20);
  /* border-style: solid; */
}
#htmlStuff {
  font-size: 120%;
  font-weight: bolder;
  background-color: white;
  padding: 2%;
  padding-top: 0;
  border-color: black;
  /* rgb(20,200,20); */
  border-style: solid;
  text-align: center;
}
#htmlStuff button {
  background-color: black;
  color: white;
  /* rgb(20,200,20); */
  border-color: white;
  /* rgb(20,200,20); */
  margin: 0.2%;
  font-size: 120%;
  width: 10%;
}
